.container {
  margin: 0 auto;
  padding-left: clamp(15px, 3.75vw, 54px);
  padding-right: clamp(15px, 3.75vw, 54px);
}

.widthNarrow {
  max-width: 585px;
}

.widthDefault {
  max-width: 885px;
}

.widthWide {
  max-width: 1080px;
}

.widthFull {
  max-width: none;
}

@media (max-width: 760px) {
  .container {
    padding-left: clamp(10.5px, 2.25vw, 21px);
    padding-right: clamp(10.5px, 2.25vw, 21px);
  }
}
